*{
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 1rem;
    height: 100%;
}
header, footer{
    background-color: rgb(242, 253, 91);
    text-align: center;
    border-style: double;
    border: 3px;
}
p{
    text-align: center;
    text-shadow: 3px;
    font-weight: bold;

}

.header-logo{
    border-color: rgb(243, 183, 32);
    text-align: right;    
}